<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>

    <!-- Ниже 3 ссылки - это нужно для работы Bootstrap (https://getbootstrap.com/)-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1 class="display-3">Books</h1>
    <table class="table" id="bookTable"> <!-- https://getbootstrap.com/docs/5.0/content/tables/ -->
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody id="bookTableBody">

        </tbody>
    </table>

    <!-- https://getbootstrap.com/docs/5.0/components/buttons/-->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createBookModal">Create</button>


    <!-- Модальное окна для создания книги https://getbootstrap.com/docs/5.0/components/modal/ -->
    <div class="modal fade" id="createBookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createBookModalLabel">Create book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="createBookName">Name</label>
                    <input type="text" class="form-control" id="createBookName">

                    <label for="createBookAuthor">Author</label>
                    <input type="text" class="form-control" id="createBookAuthor">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="createBook()">Create</button> <!-- Смотри функцию createBook в файле main.js -->
                </div>
            </div>
        </div>
    </div>



    <!-- Модальное окна для редактирования книги -->
    <div class="modal fade" id="editBookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editBookModalLabel">Edit book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <label for="editBookId">Id</label>
                        <input type="text" disabled class="form-control" id="editBookId">

                        <label for="editBookName">Name</label>
                        <input type="text" class="form-control" id="editBookName">

                        <label for="editBookAuthor">Author</label>
                        <input type="text" class="form-control" id="editBookAuthor">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="editBook()">Edit</button> <!-- Смотри функцию editBook в файле main.js -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="./js/main.js"></script>  <!-- Наш скрипт на JavaScript, чтобы загружались данные, работали кнопки и т.п. -->


</html>